<!DOCTYPE html>
<html>

  <head>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  </head>
  <body>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <strong>Mini Flask</strong>
        </a>
      </div>
    </div>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">문장 유사도 검사</h1>
        </div>
      </div>
    </section>
    <section class="py-5 text-center container">
        <form id="upload" action="/predict" method="POST" enctype="multipart/form-data">
            <div class="upload-btn-wrapper">
              <span>문장 1:</span>
              <input type="text" name="sentence1">
              <p></p>
              <span>문장 2:</span>
              <input type="text" name="sentence2">
              <p></p>
              <input type="submit" value="입력"> 
            </div>
            유사도 점수: {{label}} 점 유사도 라벨 {{preds}}
    </section>
  </body>
</html>